<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('main.index') }}">
                <img src="{{ post.author.avatar(64) }}" class="img-thumbnail" alt="user avatar">
            </a>
        </td>
        <td>
            <a href="{{ url_for('main.user', username=post.author.username) }}">
                {{ post.author.username }}
            </a>
            {{ moment(post.timestamp).fromNow() }}:
            <br>
            {{ post.body }}
        </td>
    </tr>
</table>